<!DOCTYPE html>
<html>
    <head data-locale="en-US" data-preferred-editor="id" data-user="9157906" data-location="{"minlon":33.908859,"minlat":-4.678047,"maxlon":41.899078,"maxlat":5.019938}" data-token="b558mlxAd4vG1GUQIuMO7GknrByTyWjo6EXsi7Oo" data-token-secret="PqlP9OGXrHsq423bduaFPjTYEWbHTj0mqQS6tY2K" data-consumer-key="Q09CnRAXDwihla04IrYdOMsl9lvmNHvIBU3waUMp" data-consumer-secret="2QgtdVPL5MKMwIH8seABv7YVjNqVXySBg5Eu7Ayj"data-token-secret="PqlP9OGXrHsq423bduaFPjTYEWbHTj0mqQS6tY2K" data-consumer-key="Q09CnRAXDwihla04IrYdOMsl9lvmNHvIBU3waUMp" data-consumer-secret="2QgtdVPL5MKMwIH8seABv7YVjNqVXySBg5Eu7Ayj" >
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
   integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
   crossorigin=""/>
        <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
   integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
   crossorigin=""></script>
    <title>Clean Club</title>     
    </head>
    <body class="map-layout small" style=" height: 100%; padding: 40px; margin: 20px; border: 20px;">
                <div id="content"  class="overlay-sidebar">
                    <div id="sidebar">
                        <div class="leaflet-control-search leaflet-control search-load">
                            <label class="search-input" for="searchtext9" style="display: none;"></label>
                            <input class="search-input" type="text" size="9" autocomplete="off" autocapitalize="off" placeholder="Search" id="searchtext9" style="display: none; max-width: 269px;">
                            <ul class="search-tooltip" style="display: none;">
                            <a  class="search-button" href="#" title="search..." style="outline:none"></a>
                            <div class="search-alert" style="display: none">Location not found</div>
                            </ul>
                        </div>       
                    <div id="mapid"  style="height: 800px;">
                        <script>
                            var map = L.map('mapid').fitWorld();
                            L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1Ijoia2VybmFlbCIsImEiOiJjanAxcGx3MTgzNndrM3dwaHh0dzBpMXFqIn0.mGDyWnOIyQBL4ACrIVmBCQ', {
                                attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                                maxZoom: 18,
                                id: 'mapbox.streets',
                                accessToken: 'pk.eyJ1Ijoia2VybmFlbCIsImEiOiJjanAxcGx3MTgzNndrM3dwaHh0dzBpMXFqIn0.mGDyWnOIyQBL4ACrIVmBCQ'
                            }).addTo(map);
                            var popup = L.popup();
    
                            function onMapClick(e) {
                                popup
                                    .setLatLng(e.latlng)
                                    .setContent("You clicked the map at " + e.latlng.toString())
                                    .openOn(map);
                            }
    
                            map.on('click', onMapClick);

                            map.locate({setView: true, maxZoom: 18});
                            function onLocationFound(e) {
                                var radius = e.accuracy / 2;

                                L.marker(e.latlng).addTo(map)
                                    .bindPopup("You are within " + radius + " meters from this point").openPopup();

                                L.circle(e.latlng, radius).addTo(map);
                            }

                            map.on('locationfound', onLocationFound);
                            


                            

                        

                            
                        </script>
                        

                    </div>

                    

                    
                        
                   
                   

            

        </div>
        
        
    </body>
</html>