<!DOCTYPE html>
<html>
    <head data-locale="en-US" data-preferred-editor="id" data-user="9157906" data-location="{"minlon":33.908859,"minlat":-4.678047,"maxlon":41.899078,"maxlat":5.019938}" data-token="b558mlxAd4vG1GUQIuMO7GknrByTyWjo6EXsi7Oo" data-token-secret="PqlP9OGXrHsq423bduaFPjTYEWbHTj0mqQS6tY2K" data-consumer-key="Q09CnRAXDwihla04IrYdOMsl9lvmNHvIBU3waUMp" data-consumer-secret="2QgtdVPL5MKMwIH8seABv7YVjNqVXySBg5Eu7Ayj"data-token-secret="PqlP9OGXrHsq423bduaFPjTYEWbHTj0mqQS6tY2K" data-consumer-key="Q09CnRAXDwihla04IrYdOMsl9lvmNHvIBU3waUMp" data-consumer-secret="2QgtdVPL5MKMwIH8seABv7YVjNqVXySBg5Eu7Ayj" >
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
   integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
   crossorigin=""/>
        <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
   integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
   crossorigin=""></script>
   <title>Clean Club</title>
         
    </head>
    <body class="map-layout small">
        
                <div id="content"  class="overlay-sidebar">
                    <div id="sidebar">
                            <header class="closed">
                                    <nav class="primary">
                                        <div class="search-forms">
                                            <form method="GET" action="/search" class="search_form">
                                                <a class="button switch_link" title="Find directions between two points" href="/directions">
                                                <img  class="button" src="../static/images/images-6.jpg" style="height:40px;">
                                                </a>
                                                <input type="submit" name="commit" value="Go" class="float">
                                                <div class="query_wrapper">
                                                    <input type="text" name="query" id="query" placeholder="search Current location" autofocus="autofocus" class="overflow">
                                                    <a class="describe_location" title="Describe the current location using the search engine" href="#"></a>
                        
                        
                                                </div>
                                            </form>
                                            <form method="GET" action="/directions" class="direction_form">
                                                <div class="header">
                                                    <span class="icon close"></span>
                        
                        
                                                </div>
                                                <div class="line">
                                                    <img class="routing_marker" data-type="from" draggable="true"  src="../static/images/images-3.png" style="height:40px">
                                                    <span class="force_width">
                                                    <input type="text" name="route_from" id="route_from" placeholder="From">
                                                    </span>
                                                 
                        
                                                </div>
                                                <div class="line">
                                                    <img class="routing_marker" data-type="from" draggable="true"  src="../static/images/images-1.png"  style="height:40px">
                                                    <span class="force_width">
                                                        <input type="text" name="route_to" id="route_to" placeholder="To">
                                                    </span>
                                                     
                            
                                                </div>
                                                <div class="line">
                                                <select class="routing_engines"  name="routing_engines" id="">
                                                    <option value="0">Bicycle (GraphHopper)</option>
                                                    <option value="1">Car (GraphHopper) </option>
                                                    <option value="2"> Car (OSRM) </option>
                                                    <option value="3">Foot (GraphHopper) </option>
                                                </select>
                                                <input type="submit" name="commit" value="Go" class="routing_go">
                                                </div>
                                                <div class="line">
                                                    <a class="reverse_directions">Reverse Directions</a>
                        
                                                </div>
                                                <div class="loader_copy">
                                                    <div class="loader">
                                                        <img src="../static/images/0_drHt8kf034X0309d.gif" style="display: none;">
                        
                        
                                                    </div>
                        
                        
                                                </div>
                        
                        
                        
                                            </form>
                        
                                        </div>
                                        <div id="flash">


                                        </div>
                                        <div id="browse_status">

                                        </div>
                                        
                                    </nav>
                                    
                        
                                </header>


                    </div>
                    <div id="mapid"  style="height: 1800px;">
                        <script src="OpenLayers.js"></script>
                        <script>
                            var mymap = L.map('mapid').setView([-1.1986,36.7503], 13);
                            L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1Ijoia2VybmFlbCIsImEiOiJjanAxcGx3MTgzNndrM3dwaHh0dzBpMXFqIn0.mGDyWnOIyQBL4ACrIVmBCQ', {
                                attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                                maxZoom: 18,
                                id: 'mapbox.streets',
                                accessToken: 'pk.eyJ1Ijoia2VybmFlbCIsImEiOiJjanAxcGx3MTgzNndrM3dwaHh0dzBpMXFqIn0.mGDyWnOIyQBL4ACrIVmBCQ'
                            }).addTo(mymap);
                            var popup = L.popup();
    
                            function onMapClick(e) {
                                popup
                                    .setLatLng(e.latlng)
                                    .setContent("You clicked the map at " + e.latlng.toString())
                                    .openOn(mymap);
                            }
    
                            mymap.on('click', onMapClick);
                        </script>
                        

                    </div>

                    

                    
                        
                   
                   

            

        </div>
        
        
    </body>
</html>