<nav class="navbar navbar-expand-md bg-secondary navbar-dark sticky-top">
  <ul class='nav navbar-nav nav-tabs nav-pills'>
    <li class="nav-item active "> 
      <a data-toggle='pill' href="/" class="navbar-brand nav-link toggle-fade" title='View Our Home page'>Home</a>
    </li>
    <li class="justify-content-end">
      <a href="/" data-toggle='pill' title='Login' class="nav-link navbar-brand ">Login</a>
    </li>
    <li class='nav-item'><a  href="/" class='nav-link navbar-brand' data-toggle="pill" title='About Us'>About</a></li>
    
  </ul>
</nav>