<nav class="navbar navbar-expand-md bg-primary navbar-dark sticky-top">
  <ul class='nav navbar-nav nav-tabs'>
    <li class="nav-item active "> 
      <a data-toggle='' href="/" class="navbar-brand nav-link" title='View Our Home page'>Home</a>
    </li>
    <li class="nav-item active">
      <a href="/login" data-toggle='' title='Login' class="nav-link navbar-brand ">Login</a>
    </li>
    <li class='nav-item active'><a  href="/about" class='nav-link navbar-brand' data-toggle='' title='About Us'>About</a></li>
    
  </ul>
</nav>